[MAIN]
ignore=.git,__pycache__
jobs=0

[DESIGN]
min-public-methods=0

[FORMAT]
indent-after-paren=2
indent-string='  '
max-line-length=80
max-module-lines=1000

[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        too-many-locals,
        too-many-nested-blocks,
        too-many-branches,
        too-many-statements,

[STRING]
check-quote-consistency=yes
check-str-concat-over-line-jumps=yes
